<h1><%= @kult.name %></h1>
<ul id="kults_list">
  <% @kult.posts.each do |post| %>
    <li><%= post.content %></li>
  <% end %>
</ul>
<%= form_for([@kult, @post], remote: true, html: { class: 'disable-on-submit' }) do |f| %>
  <%= f.text_field :content %>
  <%= f.submit 'Post' %>
<% end %>
